:root{
    --primary: #f6c496;
    --background: #252525
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: sans-serif ;
}

nav a {
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease;
}

nav .list a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-color: var(--primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav .list a:hover:after {
    width: 100%;
    left: 0;
}

.list{
    display: flex;
}

nav a:focus{
    color: white;
}

nav a:hover{
    color: #eebc9d;
}

.mind-primary{
    color: var(--primary);
}


@media (max-width: 768px) {
    .list{
        display: none;
    }
}


/*Section 1*/

.sect1 {
    font-family: Unbounded, sans-serif;
    margin-top: 250px;
}

.sect1 h1{
    font-size: 13vw;
    font-weight: bold;
    transition: all 0.2s ease;
}

.sect1 h1:hover{
    text-shadow: -15px 5px black;
    padding-left: 15px;
}

@media (min-width: 576px) {
 .sect1 h1{
     font-size: 10vw;
 }
}
@media (min-width: 768px) {
    .sect1 h1{
        font-size: 10vw;
    }
}
@media (min-width: 992px) {
    .sect1 h1{
        font-size: 10vw;
    }
}
@media (min-width: 1200px) {
    .sect1 h1{
        font-size: 8vw;
    }
}
@media (min-width: 1400px) {
    .sect1 h1{
        font-size: 7vw;
    }
}


/*Section 2*/

.sect2{
    margin-top: 350px;
    text-align: center;
    font-family: Unbounded, sans-serif;
}

.sect2 h1{
    font-weight: bold;
    transition: all 0.2s ease;
}

.sect2 h1:hover{

}

/*Section 3*/

.sect3 {
    margin-top: 350px;
    font-family: Unbounded, sans-serif;
    height: 400px;
    position: relative;
}

.sect3 span{
    font-weight: bold;
}

.bri{
    position: absolute;
}

.br1, .br2, .br3 {
    top: 10%;
    left: 0;
}

.br4, .br5, .br6{
    bottom: 10%;
    right: 0;
}

.br2{
    left: 10%;
}

.br3{
    left: 20%;
}

.br5{
    right: 10%;
}

.br6{
    right: 20%;
}

/*Section 4*/

.sect4{
    margin-top: 350px;
    font-family: Unbounded, sans-serif;
}

.sect4 h1{
    font-size: 1.9rem;
}

@media (min-width: 576px) {
    .sect4 h1{
        font-size: 1.9rem;
    }
}
@media (min-width: 768px) {
    .sect4 h1{
        font-size: 2.65rem;
    }
}
@media (min-width: 992px) {
    .sect4 h1{
        font-size: 3.55rem;
    }
}
@media (min-width: 1200px) {
    .sect4 h1{
        font-size: 4.25rem;
    }
}
@media (min-width: 1400px) {
    .sect4 h1{
        font-size: 4.8rem;
    }
}

.cards {
    margin-bottom: 50px;
    row-gap: 40px;
}

.card {
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 20px;
    border-bottom: 10px solid var(--primary);
    height: 300px;
}

.card .card-body i {
    color: var(--primary);
    font-size: 5em;
    margin-top: 25%;
}

/*Section 7*/

.sect7{
    margin-top: 350px;
    text-align: center;
    margin-bottom: 350px;
    font-family: Unbounded, sans-serif;
}

/*Section 8*/

.sect8{
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 200px;
    display: grid;
    place-items: center;
    font-family: Unbounded, sans-serif;
}

.sect8 img{
    width: 100%;
    object-fit: cover;
    opacity: 80%;
    object-position: center;
}

.sect8 h1{
    position: absolute;
    top: 220px;
    left: 35%;

}

@media (min-width: 1200px) {
    .sect8 img {
        transform: translateY(-140px);
    }
}


/*Section 9*/

.sect9{
    height: 250px;
    display: grid;
    place-items: center;
    margin-bottom: 100px;
    font-family: Unbounded, sans-serif;
}

.sect9 .button-test button {
    font-size: 2em;
    padding: 10px 24px;
    background-color: transparent;
    color: var(--primary);
    border: 5px inset var(--primary);
    font-weight: bold;
    transition: all 0.2s ease;
}

.sect9 .button-test button:hover{
    transform: scale(0.9);
    background-color: var(--primary);
    color: white;
    border: 5px solid var(--primary);
}

/*Credits*/

.credits{
    margin-bottom: 50px;
    font-family: Unbounded, sans-serif;
}

.credits a{
    color: var(--primary);

}


/*New File*/
/*Addiction.html*/

/*Sect1*/
.ad-sect1 {
    font-family: Unbounded, sans-serif;
    margin-top: 250px;
}

.ad-sect1 h1{
    font-size: 13vw;
    font-weight: bold;
    transition: all 0.2s ease;
}

.ad-sect1 h1:hover{
    text-shadow: -15px 5px black;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .ad-sect1 h1{
        font-size: 10vw;
    }
}
@media (min-width: 768px) {
    .ad-sect1 h1{
        font-size: 10vw;
    }
}
@media (min-width: 992px) {
    .ad-sect1 h1{
        font-size: 10vw;
    }
}
@media (min-width: 1200px) {
    .ad-sect1 h1{
        font-size: 8vw;
    }
}
@media (min-width: 1400px) {
    .ad-sect1 h1{
        font-size: 7vw;
    }
}


/*sect2*/

.ad-sect2{
    margin-top: 250px;
    margin-bottom: 250px;
}

.ad-sect2 .ques-box-1, .ques-box-2, .ques-box-3{
    row-gap: 50px;
    border-radius: 40px;
    border: 5px solid var(--primary);
    padding: 20px 0px;
}

.ad-sect2 .ques-box-1 .ad-inp, .ques-box-2 .ad-inp, .ques-box-3 .ad-inp{
    background-color: transparent;
    color: var(--primary);
    padding: 20px 40px;
    border-radius: 40px;
    border: 5px solid var(--primary);
    font-weight: bold;
}

.ad-sect2 .ques-box-1 .ad-inp:focus, .ques-box-2 .ad-inp:focus, .ques-box-3 .ad-inp:focus{
    outline: none;
}

.ad-sect2 .ques-box-1 button, .ques-box-2 button, .ques-box-3 button{
    font-size: 1.5em;
    padding: 10px 24px;
    background-color: transparent;
    color: var(--primary);
    border: 5px inset var(--primary);
    font-weight: bold;
    transition: all 0.2s ease;
    border-radius: 40px;
}

.ad-sect2 .ques-box-1 button:hover, .ques-box-2 button:hover, .ques-box-3 button:hover{
    transform: scale(0.9);
    background-color: var(--primary);
    color: white;
    border: 5px solid var(--primary);
}

.ques-box-3 select {
    padding: 20px 40px;
    background-color: transparent;
    border: 5px solid var(--primary);
    color: var(--primary);
    border-radius: 40px;
    font-weight: bold;
}


